# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production
.env.local

# macOS-specific files
.DS_Store

# Windows-specific files
Thumbs.db
ehthumbs.db
Desktop.ini

# Editor directories and files
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
*.swp
*.swo

# Testing
coverage/

# Vercel
.vercel/

# Ignore generated content
src/content/blog/
